<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script data-main="js/main.js" src="js/libs/require.js"></script>
        
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<link rel="stylesheet" href="css/style.css"">
		
	</head>
	<body>	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
      	<h1>Welcome to FHacktory : get trying domoHack</h1>
      	<div id="message"></div>

			<div id="select-content">
<script type="text/template" id="widgetCollectionTemplate">
<select name="object" id="connectedObject">
	<option value>Choose object</option>
    <% _.each(widgets, function (widgets) { %>
    	<option value="<%= widgets.id  %>"><%= widgets.id  %></option> 
    <% }); %>
</select>
<button type="button" id="addWidget">Add Widget</button> 
</script>
			</div>
			
			
			<div id="content">
<script type="text/template" id="Widget">
un test widget
</script>
			</div>			
      </div>
    </div>
	</body>
</html>
