<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script data-main="js/main.js" src="js/libs/require.js"></script>
        <!-- <script src="components/underscore.js"></script>
        <script src="components/jquery.js"></script>
        <script src="components/backbone.js"></script>
        <script src="api/services/rest.js"></script>
        <script src="js/router.js"></script>  -->
	</head>
	<body>	
		<div id="container">
<script type="text/template" id="widgetCollectionTemplate">
    <% _.each(widgets, function (widgets) { %>
    <div class="widget" style="background: yellow; margin-bottom:5px;">
        <p>id: <%= widgets.id  %></p>
		<p>Type: <%= widgets.type  %></p>
		<p>Famille: <%= widgets.famille  %></p>
		<p>Unité: <%= widgets.unite  %></p>
    </div>
    <% }); %>
</script>		  
		  
		  
		  
		  
		</div>
	</body>
</html>
